<div class="card col-sm-3" style="width: 18rem">
  <div class="imgDiv">
    <img *ngIf="propertyData.Image"
      class="card-img-top"
      src="{{ propertyData.Image }}"
      alt="Card image cap"
    />
    <img *ngIf="!propertyData.Image"
    class="card-img-top"
    src="../../../assets/car.jpg"
    alt="Card image cap"
  />
    <ul class="list-inline text-center img-icons animate">
      <li class="list-inline-item"><button class="btn btn-dark" routerLink="/property-detail/{{propertyData.Id}}"><i class="fa fa-pen-to-square"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-dark"><i class="fa fa-address-book"></i></button></li>
    </ul>
  </div>
  <div class="card-body">
    <h1 class="mb-0"> {{propertyData.BHK}} BHK {{propertyData.PType}} </h1>

    in {{propertyData.Name}}
    <span *ngIf="propertyData.Name">,</span>
    {{propertyData.City}}

    <h6  class="mt-2">{{propertyData.FType}}
    <span *ngIf="propertyData.FType !== 'Unfurnished'">Furnished</span> | Ready to Move</h6>

    <hr class="mt-0 mb-2">

    <h6 class="mb-0">Price: <span class>{{propertyData.Price}} USD.</span> |
      Area:  <span>{{propertyData.BuiltArea}} Sq Ft </span> </h6>
  </div>
</div>
