<div class="row">
  <div class="col-8">
<div class="card">
  <div class="card-header">Add New Property</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
      <div>
        <tabset #formTabs>
          <tab heading="Basic Info" formGroupName="BasicInfo">
            <div class="form-group col-12">
              <p>I want to</p>
              <div class="btn-group" btnRadioGroup
              name="sellRent"
             formControlName="sellRent"
             >
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="1"
                  tabindex="0"
                  role="button"
                  >Sell</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="2"
                  tabindex="0"
                  role="button"
                  >Rent</label
                >
              </div>
            </div>
            <div class="form-group col-12">
              <p>BHK</p>
              <div class="btn-group" btnRadioGroup name="bhk"
              [(ngModel)]="propertyView.BHK"
              formControlName="bhk"
               >
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="1"
                  tabindex="0"
                  role="button"
                  >1</label
                >
                <label
                  class="btn btn-outline-dark mr-5"
                  btnRadio="2"
                  tabindex="0"
                  role="button"
                  >2</label
                >
                <label
                  class="btn btn-outline-dark mr-5"
                  btnRadio="3"
                  tabindex="0"
                  role="button"
                  >3</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="4"
                  tabindex="0"
                  role="button"
                  >4</label
                >
              </div>
            </div>
            <div class="form-group col-12">
              <p>Property of Type</p>
              <div class="btn-group" btnRadioGroup name="pType"
               [(ngModel)]="propertyView.PType"
               formControlName="pType"
             >
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="House"
                  tabindex="0"
                  role="button"
                  name="type"
                  >House</label
                >
                <label
                  class="btn btn-outline-dark mr-5"
                  btnRadio="Apartment"
                  tabindex="0"
                  role="button"
                  name="type"
                  >Apartment</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="Duplex"
                  tabindex="0"
                  role="button"
                  name="type"
                  >Duplex</label
                >
              </div>
            </div>
            <div class="form-group col-12">
              <p>Furnish Type</p>
              <div class="btn-group" btnRadioGroup name="ftype"
              [(ngModel)]="propertyView.FType"
              formControlName="fType">
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="Fully"
                  tabindex="0"
                  role="button"
                  >Fully</label
                >
                <label
                  class="btn btn-outline-dark mr-5"
                  btnRadio="Semi"
                  tabindex="0"
                  role="button"
                  >Semi</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="Unfurnished"
                  tabindex="0"
                  role="button"
                  >Unfurnished</label
                >
              </div>
            </div>
            <div class="form-group col-12">
              <label for="name">In Building/Prjoect/Society</label>
              <input
                type="text"
                name="name"
                ngModel
                class="form-control"
                required
                minlength="5"
                [(ngModel)]="propertyView.Name"
                formControlName="name"
              />
              <!-- <div
                class="error"
                *ngIf="!pName.valid && pName.touched && pName.dirty"
              >
                <span *ngIf="pName.errors?.['required']"
                  >This is required field</span
                >
                <span *ngIf="pName.hasError('minlength')"
                  >User must have atleast 5 char</span
                >
              </div> -->
            </div>
            <div class="form-group col-12" >
              <label for="type">City</label>
              <input
                type="text"
                name="city"
                ngModel
                class="form-control"
                required
                [(ngModel)]="propertyView.City"
                formControlName="city"
              />
            </div>
            <div class="form-group col-12 mt-2">
              <button
                type="button"
                class="btn btn-block btn-dark"
                [disabled]="basicInfo.invalid"
                (click)="selectTab(1,basicInfo.valid)"
              >
                Next
              </button>
            </div>
          </tab>
          <tab heading="Pricing and Area" formGroupName="PriceInfo">
            <div class="form-group col-12">
              <label *ngIf="SellRent.value==1">Price (in USD)</label>
              <label *ngIf="SellRent.value==2">Rent (in USD)</label>
              <input type="text" class="form-control" name="price"
              [(ngModel)]="propertyView.Price"
              formControlName="price"/>
            </div>

            <div class="form-group col-12" *ngIf="SellRent.value==1">
              <label>Security (in USD)</label>
              <input type="text" class="form-control" formControlName="security" />
            </div>

            <div class="form-group col-12" *ngIf="SellRent.value==1">
              <label>Maintenance (in USD)</label>
              <input type="text" class="form-control" formControlName="maintenance" />
            </div>

            <div class="form-group col-12">
              <label>Built Area (in Sqr Feet)</label>
              <input type="text" class="form-control" name="builtArea"
               [(ngModel)]="propertyView.BuiltArea"
               formControlName="builtArea" />
            </div>

            <div class="form-group col-12">
              <label>Carpet Area(in Sqr Feet)</label>
              <input type="text" class="form-control" formControlName="carpetArea" />
            </div>

            <div class="form-group col-12 mt-2">
              <button
                type="button"
                class="btn btn-block btn-dark"
                (click)="selectTab(2,priceInfo.valid)"
              >
                Next
              </button>

              <button
                type="button"
                class="btn btn-block btn-dark mt-2"
                (click)="selectTab(0,priceInfo.valid)"
              >
                Back
              </button>
            </div>
          </tab>
          <tab heading="Address" formGroupName="AddressInfo">
            <div class="form-group col-12">
              <label>Floor</label>
              <input type="text" class="form-control" formControlName="floorNo" />
            </div>

            <div class="form-group col-12">
              <label>Total Floor</label>
              <input type="text" class="form-control" formControlName="totalFloor"/>
            </div>

            <div class="form-group col-12">
              <label>Address</label>
              <input type="text" class="form-control" formControlName="address"/>
            </div>

            <div class="form-group col-12">
              <label>Landmark</label>
              <input type="text" class="form-control" formControlName="landMark"/>
            </div>

            <div class="form-group col-12 mt-2">
              <button
                type="button"
                class="btn btn-dark btn-block"
                (click)="selectTab(3,addressInfo.valid)"
              >
                Next
              </button>

              <button
                type="button"
                class="btn btn-block btn-dark mt-2"
                (click)="selectTab(1,addressInfo.valid)"
              >
                Back
              </button>
            </div>
          </tab>
          <tab heading="Other Details" formGroupName="OtherInfo" >
            <div class="form-group col-12">
              <p>Ready to Move</p>
              <div class="btn-group" btnRadioGroup formControlName="rtm">
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="1"
                  tabindex="0"
                  role="button"
                  >Yes</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="2"
                  tabindex="0"
                  role="button"
                  >No</label
                >
              </div>
            </div>

            <div class="form-group col-3">
              <label>Possession/Avaliable From</label>
              <input
                type="text"
                placeholder="Datepicker"
                class="form-control"
                formControlName="possessionOn"
                bsDatepicker
                [bsConfig]="{
                  containerClass: 'theme-dark-blue',
                  isAnimated: true,
                  dateInputFormat: 'DD-MM-YYYY'
                }"
              />
            </div>

            <div class="form-group col-12">
              <label>Age of Property</label>
              <input type="text" class="form-control" formControlName="aop"/>
            </div>

            <div class="form-group col-12">
              <p>Gated Community</p>
              <div class="btn-group" btnRadioGroup formControlName="gated">
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="1"
                  tabindex="0"
                  role="button"
                  >Yes</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="2"
                  tabindex="0"
                  role="button"
                  >No</label
                >
              </div>
            </div>

            <div class="form-group col-12">
              <p>Main Entrance</p>
              <div class="btn-group" btnRadioGroup formControlName="mainEntrance">
                <label
                  class="btn btn-outline-dark btn-sell mr-5"
                  btnRadio="1"
                  tabindex="0"
                  role="button"
                  >East</label
                >
                <label
                  class="btn btn-outline-dark mr-5"
                  btnRadio="2"
                  tabindex="0"
                  role="button"
                  >West</label
                >
                <label
                  class="btn btn-outline-dark mr-5"
                  btnRadio="3"
                  tabindex="0"
                  role="button"
                  >South</label
                >
                <label
                  class="btn btn-outline-dark btn-rent"
                  btnRadio="4"
                  tabindex="0"
                  role="button"
                  >North</label
                >
              </div>
            </div>

            <div class="form-group col-12">
              <label>Description</label>
              <textarea type="text" class="form-control" rows="6" formControlName="description"></textarea>
            </div>

            <div class="form-group col-12 mt-2">
              <button
                type="button"
                class="btn btn-dark btn-block"
                (click)="selectTab(4,otherInfo.valid)"
              >
                Next
              </button>

              <button
                type="button"
                class="btn btn-block btn-dark mt-2"
                (click)="selectTab(2,otherInfo.valid)"
              >
                Back
              </button>
            </div>
          </tab>
          <tab heading="Photos">
            <div class="form-group col-12">
              <div class="photo-control">
                <button class="mt-5" type="button">Upload</button> <br />
                This is under construction
              </div>
            </div>
            <div class="form-group col-12 mt-2">
              <button
                type="button"
                class="btn btn-dark btn-block"
                (click)="selectTab(3,otherInfo.valid)"
              >
                Back
              </button>
              <button type="submit" class="btn btn-dark btn-block mt-2">
                Save
              </button>
              <button type="reset" class="btn btn-dark btn-block mt-2">
                Cancel
              </button>
            </div>
          </tab>
        </tabset>
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-4">
  <div class="card-header">
    Your Property Preview
  </div>
  <div class="card-body">
<app-property-card [propertyData]="propertyView"></app-property-card>
  </div>
</div>
</div>
